{% extends 'base.html' %}


{% block contents %}

<div class="container justify-content-center my-contents">
  <div class="card mb-3" style="width: auto;">
    <a href="#" class="stretched-link"></a>
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.photolibrary.jp/mhd8/img160/450-2010061300102645998.jpg" class="img-fluid rounded-start"
          alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">入力</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: auto;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.photolibrary.jp/mhd8/img160/450-2010061300102645998.jpg" class="img-fluid rounded-start"
          alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">実績</h5>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: auto;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.photolibrary.jp/mhd8/img160/450-2010061300102645998.jpg" class="img-fluid rounded-start"
          alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">分析</h5>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}